// Animations
@mixin animation($animation) {
  -webkit-animation : $animation;
  -moz-animation    : $animation;
  -ms-animation     : $animation;
  -o-animation      : $animation;
  animation         : $animation;
}

@mixin animation-name($name) {
  -webkit-animation-name      : $name;
  -moz-animation-name         : $name;
  -ms-animation-name          : $name;
  -o-animation-name           : $name;
  animation-name              : $name;
}

@mixin animation-delay($delay) {
  -webkit-animation-delay     : $delay;
  -moz-animation-delay        : $delay;
  -ms-animation-delay         : $delay;
  -o-animation-delay          : $delay;
  animation-delay             : $delay;
}

@mixin animation-direction($direction) {
  -webkit-animation-direction : $direction;
  -moz-animation-direction    : $direction;
  -ms-animation-direction     : $direction;
  -o-animation-direction      : $direction;
  animation-direction         : $direction;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration  : $duration;
  -moz-animation-duration     : $duration;
  -ms-animation-duration      : $duration;
  -o-animation-duration       : $duration;
  animation-duration          : $duration;
}

@mixin animation-fill-mode($fill-mode) {
  -webkit-animation-fill-mode : $fill-mode;
  -moz-animation-fill-mode    : $fill-mode;
  -ms-animation-fill-mode     : $fill-mode;
  -o-animation-fill-mode      : $fill-mode;
  animation-fill-mode         : $fill-mode;
}

@mixin animation-timing-function($timing-function) {
  -webkit-animation-timing-function : $timing-function;
  -moz-animation-timing-function    : $timing-function;
  -ms-animation-timing-function     : $timing-function;
  -o-animation-timing-function      : $timing-function;
  animation-timing-function         : $timing-function;
}

@mixin animation-iteration-count($iteration-count) {
  -webkit-animation-iteration-count : $iteration-count;
  -moz-animation-iteration-count    : $iteration-count;
  -ms-animation-iteration-count     : $iteration-count;
  -o-animation-iteration-count      : $iteration-count;
  animation-iteration-count         : $iteration-count;
}

@mixin animation-play-state($animation-play-state) {
  -webkit-animation-play-state : $animation-play-state;
  -moz-animation-play-state    : $animation-play-state;
  -ms-animation-play-state     : $animation-play-state;
  -o-animation-play-state      : $animation-play-state;
  animation-play-state         : $animation-play-state;
}
