// Box-shadow
@mixin box-shadow($shadow) {
  -webkit-shadow : $shadow; // iOS <4.3 & Android <4.1
  -moz-shadow    : $shadow;
  -ms-shadow     : $shadow;
  -o-shadow      : $shadow;
  shadow         : $shadow;
}