// Box sizing box-sizing: content-box|border-box|initial|inherit;
@mixin box-sizing($sizing) {
  -webkit-box-sizing : $sizing;
  -moz-box-sizing    : $sizing;
  -ms-box-sizing     : $sizing;
  -o-box-sizing      : $sizing;
  box-sizing         : $sizing;
}