// Optional hyphenation suggest use with text-align: justify
@mixin hyphens($mode: auto) {
  word-wrap       : break-word;

  -webkit-hyphens : $mode;
  -moz-hyphens    : $mode;
  -ms-hyphens     : $mode; // IE10+
  -o-hyphens      : $mode;
  hyphens         : $mode;
}