
// Transformations
@mixin scale($ratio) {
  -webkit-transform : scale($ratio);
  -moz-transform    : scale($ratio);
  -ms-transform     : scale($ratio); // IE9 only
  -o-transform      : scale($ratio);
  transform         : scale($ratio);
}

@mixin scaleX($ratio) {
  -webkit-transform : scaleX($ratio);
  -moz-transform    : scaleX($ratio);
  -ms-transform     : scaleX($ratio); // IE9 only
  -o-transform      : scaleX($ratio);
  transform         : scaleX($ratio);
}

@mixin scaleY($ratio) {
  -webkit-transform : scaleY($ratio);
  -moz-transform    : scaleY($ratio);
  -ms-transform     : scaleY($ratio); // IE9 only
  -o-transform      : scaleY($ratio);
  transform         : scaleY($ratio);
}

@mixin skew($x, $y) {
  -webkit-transform : skewX($x) skewY($y);
  -moz-transform    : skewX($x) skewY($y);
  -ms-transform     : skewX($x) skewY($y); // IE9 only
  -o-transform      : skewX($x) skewY($y);
  transform         : skewX($x) skewY($y);
}

@mixin translate($x, $y) {
  -webkit-transform : translate($x, $y);
  -moz-transform    : translate($x, $y);
  -ms-transform     : translate($x, $y); // IE9 only
  -o-transform      : translate($x, $y);
  transform         : translate($x, $y);
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform : translate3d($x, $y, $z);
  -moz-transform    : translate3d($x, $y, $z);
  -ms-transform     : translate3d($x, $y, $z);
  -o-transform      : translate3d($x, $y, $z);
  transform         : translate3d($x, $y, $z);
}

@mixin rotate($degrees) {
  -webkit-transform : rotate($degrees);
  -moz-transform    : rotate($degrees);
  -ms-transform     : rotate($degrees); // IE9 only
  -o-transform      : rotate($degrees);
  transform         : rotate($degrees);
}

@mixin rotateX($degrees) {
  -webkit-transform : rotateX($degrees);
  -moz-transform    : rotateX($degrees);
  -ms-transform     : rotateX($degrees); // IE9 only
  -o-transform      : rotateX($degrees);
  transform         : rotateX($degrees);
}

@mixin rotateY($degrees) {
  -webkit-transform : rotateY($degrees);
  -moz-transform    : rotateY($degrees);
  -ms-transform     : rotateY($degrees); // IE9 only
  -o-transform      : rotateY($degrees);
  transform         : rotateY($degrees);
}

@mixin perspective($perspective) {
  -webkit-perspective        : $perspective;
  -moz-perspective           : $perspective;
  -ms-perspective            : $perspective;
  -o-perspective             : $perspective;
  perspective                : $perspective;
}

@mixin perspective-origin($perspective) {
  -webkit-perspective-origin : $perspective;
  -moz-perspective-origin    : $perspective;
  -ms-perspective-origin     : $perspective;
  -o-perspective-origin      : $perspective;
  perspective-origin         : $perspective;
}

@mixin transform-origin($origin) {
  -webkit-transform-origin   : $origin;
  -moz-transform-origin      : $origin;
  -ms-transform-origin       : $origin; // IE9 only
  -o-transform-origin        : $origin;
  transform-origin           : $origin;
}