// Transitions
@mixin transition($transition) {
  -webkit-transition : $transition;
  -moz-transition    : $transition;
  -ms-transition     : $transition;
  -o-transition      : $transition;
  transition         : $transition;
}

@mixin transition-property($transition-property) {
  -webkit-transition-property : $transition-property;
  -moz-transition-property    : $transition-property;
  -ms-transition-property     : $transition-property;
  -o-transition-property      : $transition-property;
  transition-property         : $transition-property;
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay    : $transition-delay;
  -moz-transition-delay       : $transition-delay;
  -ms-transition-delay        : $transition-delay;
  -o-transition-delay         : $transition-delay;
  transition-delay            : $transition-delay;
}

@mixin transition-duration($transition-duration) {
  -webkit-transition-duration : $transition-duration;
  -moz-transition-duration    : $transition-duration;
  -ms-transition-duration     : $transition-duration;
  -o-transition-duration      : $transition-duration;
  transition-duration         : $transition-duration;
}

@mixin transition-timing-function($timing-function) {
  -webkit-transition-timing-function : $transition-timing-function;
  -moz-transition-timing-function    : $transition-timing-function;
  -ms-transition-timing-function     : $transition-timing-function;
  -o-transition-timing-function      : $transition-timing-function;
  transition-timing-function         : $transition-timing-function;
}