// User select
// For selecting text on the page
@mixin user-select($select) {
  -webkit-user-select : $select;
  -moz-user-select    : $select;
  -ms-user-select     : $select; // IE10+
  user-select         : $select;
}